$color-primary: #e65f78;

.scrolled {
  box-shadow: 0 0 15px 1px $color-primary;
  position: fixed;
  z-index: 1;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  background-color: #000;
  transition: all 0.4s ease-in-out;

  h1 {
    color: #fff;
    font-size: 1.5rem;
    flex: 1;
  }

  .navbar {
    flex: 1;

    .nav-links {
      display: flex;
      justify-content: space-around;

      .nav-item {
        display: flex;
        align-items: center;

        .icon {
          color: #fff;
          font-size: 1rem;
        }

        .active {
          color: $color-primary;

          .icon {
            color: $color-primary;
          }
        }

        a {
          display: flex;
          align-items: center;
          position: relative;
          gap: 0.5rem;
          color: #fff;
          padding: 0.5rem;
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: bold;
          letter-spacing: 1px;
          transition: all 0.3s ease-in-out;

          &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 4px;
            border-radius: 1rem;
            background-color: $color-primary;
            transition: all 0.3s ease-in-out;
          }

          &:hover {
            color: $color-primary;

            &::after {
              width: 100%;
            }

            .icon {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}