@use '../../variables';

.scrolled {
  border-bottom: 1px solid #2e2e2e;
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  background-color: #000;
  transition: border-bottom 0.1s ease-in-out;

  h1 {
    color: #fff;
    font-size: 1.5rem;
    flex: 1;
  }

  .navbar {
    flex: 1;

    .nav-links {
      display: flex;
      justify-content: space-around;

      .nav-item {
        display: flex;
        align-items: center;

        .icon {
          color: #fff;
          font-size: 1rem;
        }

        .active {
          color: variables.$color-primary;

          .icon {
            color: variables.$color-primary;
          }
        }

        a {
          display: flex;
          align-items: center;
          position: relative;
          gap: 0.5rem;
          color: #fff;
          padding: 0.5rem;
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: bold;
          letter-spacing: 1px;
          transition: all 0.3s ease-in-out;

          &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 4px;
            border-radius: 1rem;
            background-color: variables.$color-primary;
            transition: all 0.3s ease-in-out;
          }

          &:hover {
            color: variables.$color-primary;

            &::after {
              width: 100%;
            }

            .icon {
              color: variables.$color-primary;
            }
          }
        }
      }
    }
  }
}