.dark-theme-footer {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 1000px;
    padding: 1rem;
    color: #fff;

    .socials {
        display: flex;
        gap: 1.5rem;
        color: #fff;

        a {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
    }

    .email {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }
}